<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'learningcurveapp/css/aboutus.css' %}">
    <title>About us</title>

</head>
<header>

    <div class="logo">
        <a href=""><img src="{ %static 'learningcurveapp/Logo.svg'%}" class="logo" alt=""></a>
    </div>
    <nav>
        <a href="/learningcurveapp/profile"><button>Home</button></a>

        <button>Programs</button>
        <button>Career</button>
        <button>Helps</button>

        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">Go</button>
        </form>
    </nav>

</header>
<body>
<h1>About Us</h1>
<div class="Intro">
    <p>Our mission is to bring a centralized personal online learning space (MOOC) for learners</p>
</div>
<div class="Our-story">
    <h2>Our story</h2>
    <p>Welcome to our new online learning space! As students ourselves, we understand the need for a personalized and
        centralized platform to support your learning journey. That's why we've created an open source MOOC platform
        that's tailored to your individual needs.</p>
    <p>At our master 1 MIAGE at Paris Dauphine University in 2022-2023, we noticed that while there are many online
        courses available, there is a lack of centralized and personalized resources for learners. That's where our
        project comes in. As a team of four dedicated students, we're proud to introduce the first platform of its kind
        - a centralized personal online learning space that's specifically designed to meet your needs.</p>

    <p>Whether you're a student looking to enhance your knowledge, a professional seeking to upskill, or simply someone
        who loves to learn, our platform is here to help. With our intuitive interface, you can easily navigate through
        various courses, create personalized learning paths, and track your progress - all in one place.</p>

    <p>We believe that learning should be accessible to everyone, which is why our platform is open source. We invite
        you to join our community and help us create a space that truly meets the needs of learners everywhere.</p>
</div>
<div class="Our-team"></div>
<h1>Meet our team!</h1>
<div class="profile">
    <img src="{% static 'learningcurveapp/img.png' %}" alt="Member 1">
    <h2>Julien HADERER</h2>
    <p>Position: </p>
    <p>Contact: julien.haderer@dauphine.eu </p>
</div>
<div class="profile">
    <img src="{% static 'learningcurveapp/img.png' %}" alt="Member 2">
    <h2>Siyani SIVANATHAN</h2>
    <p>Position: </p>
    <p>Contact: siyani.sivanathan@dauphine.eu </p>
</div>
<div class="profile">
    <img src="{% static 'learningcurveapp/img.png' %}" alt="Member 3">
    <h2>Quyen Linh TA </h2>
    <p>Position: </p>
    <p>Contact: quyen-linh.ta@dauphine.eu </p>
</div>
<div class="profile">
    <img src="{% static 'learningcurveapp/img.png' %}" alt="Member 4">
    <h2>Ha Anh TRAN</h2>
    <p>Position: </p>
    <p>Contact: ha-anh.tran@dauphine.eu </p>
</div>
</body>
</html>