<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      class="dark-mode">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Path</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/css/perfect-scrollbar.min.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/preloader.css' %}"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/app.css' %}"
          rel="stylesheet">

    <!-- Dark Mode CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/dark.css' %}"
          rel="stylesheet">

</head>

<body class="layout-app ">

<div class="preloader">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>

</div>

<!-- Drawer Layout -->

<div class="mdk-drawer-layout js-mdk-drawer-layout"
     data-push
     data-responsive-width="992px">
    <div class="mdk-drawer-layout__content page-content">

        <!-- Header -->

        <!-- Navbar -->

        <div class="navbar navbar-expand pr-0 navbar-dark border-bottom-2"
             id="default-navbar"
             data-primary>

            <!-- Navbar Toggler -->

            <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                    type="button"
                    data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>

            <!-- // END Navbar Toggler -->

            <!-- Navbar Brand -->
            <a href="{% url 'course'  id=course.id  %}">
                            <span class="avatar-title rounded navbar-avatar"><i
                                    class="material-icons">keyboard_arrow_left</i></span></a>



        </div>

        <!-- // END Navbar -->

        <!-- // END Header -->

        <!-- Page Content -->

        <div class="mdk-box bg-primary mdk-box--bg-gradient-primary2 js-mdk-box mb-0"
             data-effects="blend-background">
            <div class="mdk-box__content">
                <div class="hero py-64pt text-center text-sm-left">
                    <div class="container page__container">
                        <h1 class="text-white">{{course.title}}</h1>
                        <p class="lead text-white-50 measure-hero-lead mb-24pt">{{course.subtitle}}</p>

                    </div>
                </div>
                <div class="navbar navbar-expand-sm navbar-dark border-bottom-2 navbar-list p-0 m-0 align-items-center">
                    <div class="container page__container">
                        <ul class="nav navbar-nav flex align-items-sm-center">

                            <li class="nav-item navbar-list__item">
                                <i class="material-icons text-muted icon--left">schedule</i>
                                2h 46m
                            </li>
                            <li class="nav-item navbar-list__item">
                                <i class="material-icons text-muted icon--left">assessment</i>
                                Beginner
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>






        <div class="page-section  border-bottom-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mb-24pt mb-md-0">




                    </div>
                    <div class="col-md-5 pt-sm-32pt pt-md-0 d-flex flex-column align-items-center justify-content-start">

                    </div>
                </div>
            </div>
        </div>

        <div class="page-section border-bottom-2">
            <div class="container">
                <div class="page-headline text-center">
                    <h2>Feedback</h2>
                    <p class="lead text-70 measure-lead mx-auto">What other students turned professionals have to say
                        about us after learning with us and reaching their goals.</p>
                </div>


            </div>
        </div>

        <div class="page-section  border-bottom-2">

            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Student Feedback</div>
                </div>
                <div class="row mb-32pt">
                    <div class="col-md-3 mb-32pt mb-md-0">
                        <div class="display-1">4.7</div>
                        <div class="rating rating-24">
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star</span></span>
                            <span class="rating__item"><span class="material-icons">star_border</span></span>
                        </div>
                        <p class="text-muted mb-0">20 ratings</p>
                    </div>
                    <div class="col-md-9">

                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="75% rated 5/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="75"
                                         style="width: 75%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="16% rated 4/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="16"
                                         style="width: 16%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="12% rated 3/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="12"
                                         style="width: 12%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="9% rated 2/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="9"
                                         style="width: 9%"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-8pt"
                             data-toggle="tooltip"
                             data-title="0% rated 0/5"
                             data-placement="top">
                            <div class="col-md col-sm-6">
                                <div class="progress"
                                     style="height: 8px;">
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         aria-valuenow="0"
                                         aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-md-auto col-sm-6 d-none d-sm-flex align-items-center">
                                <div class="rating">
                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% for c in course_rates %}
                <div class="pb-16pt mb-16pt border-bottom row">
                    <div class="col-md-3 mb-16pt mb-md-0">
                        <div class="d-flex">
                            <a href="student-profile.html"
                               class="avatar avatar-sm mr-12pt">
                                <!-- <img src="LB" alt="avatar" class="avatar-img rounded-circle"> -->
                                <span class="avatar-title rounded-circle">R</span>
                            </a>
                            <div class="flex">

                                <a href="student-profile.html"
                                   class="card-title">{{c.student}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="rating mb-8pt">
                            {{c.result}}
                            <span class="rating__item"><span class="material-icons">star</span></span>




                        </div>
                        <p class="text-70 mb-0">{{c.comments}}</p>
                    </div>
                </div>
                {% endfor %}



            </div>

        </div>
        {% if role == 'student' %}
            {% if  response %}
            <div class="page-section border-bottom-2">
                <div class="container">
                    <div class="page-headline text-center">
                        <h2>Thank you for your feedback</h2>
                        <p class="lead text-70 measure-lead mx-auto">You already gave your feedback, you can't add another one</p>
                    </div>
                </div>

            </div>
        {% else %}
        <div class="page-section border-bottom-2">
            <div class="container">
                <div class="page-headline text-center">
                    <h2>Give us your feedback</h2>
                    <p class="lead text-70 measure-lead mx-auto">Thanks to have read this course. We invite you to rate this course.</p>
                </div>
                <form method="post" action="{% url 'student-feedback' id=course.id %}"  enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form }}
                    <br><br>
                    <input id="add" type="submit" value="Submit">
                </form>

            </div>
        </div>
        {% endif %}
        {% endif %}

        <!-- Footer -->

        <div class=" border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-70 brand mb-24pt">
                    <a href="/learningcurveapp/aboutus"
                       class="text-70 text-underline small">About us</a>
                    <img class="brand-icon"
                         src="{% static 'learningcurveapp/images/Logo.svg' %}"
                         width="300"
                         alt="Learning Curve">
                </p>
                <p class="measure-lead-max text-50 small mr-8pt">Learning Curve is a platform that provides a variety of
                    courses for you to learn and improve your skills. We have a variety of courses for you to choose
                    from.</p>
                </p>
                <p class="mb-8pt d-flex">
                    <a href=""
                       class="text-70 text-underline mr-8pt small">Terms</a>
                    <a href=""
                       class="text-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved hehe.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>

    <!-- // END drawer-layout__content -->

    <!-- Drawer -->


</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="{% static 'learningcurveapp/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="https://cdn.jsdelivr.net/npm/material-design-kit@1.0.0/dist/material-design-kit.min.js"></script>

<!-- App JS -->
<script src="{% static 'learningcurveapp/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static 'learningcurveapp/js/preloader.js' %}"></script>


</body>

</html>