.logo{
    width:40%;
    height: auto;
    overflow: hidden;
    border: 0px;
}


body{
    font-family: 'Suisse International', 'Helvetica', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(45, 7, 76), rgb(189, 18, 223));
    margin-top: 100px
}

header{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;


    width:100%;

}

nav{
    width: 50%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    gap:1%


}

h1{
    color:white;
}


.Our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    vertical-align: middle;
    text-align: middle;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:2%

}

.Intro{
    color:white;
}

button{
    padding:1%;
    border-radius:10%;
    border-color:Indigo
}

.profile>img{
    width:20%
}


.profile {
  width: 20%;
  flex: 1;
  text-align: center;
}