<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      class="dark-mode">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Path</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/css/perfect-scrollbar.min.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/preloader.css' %}"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/app.css' %}"
          rel="stylesheet">

    <!-- Dark Mode CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/dark.css' %}"
          rel="stylesheet">

</head>

<body class="layout-app ">
</div>

<!-- Drawer Layout -->

<div class="mdk-drawer-layout js-mdk-drawer-layout"
     data-push
     data-responsive-width="992px">
    <div class="mdk-drawer-layout__content page-content">

        <!-- Header -->

        <!-- Navbar -->

        <div class="navbar navbar-expand pr-0 navbar-dark border-bottom-2"
             id="default-navbar"
             data-primary>

            <!-- Navbar Toggler -->

            <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                    type="button"
                    data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>

            <!-- // END Navbar Toggler -->

            <!-- Navbar Brand -->

            <a href="/learningcurveapp/student-profile"
               class="navbar-brand mr-16pt d-lg-none">

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                            <span class="avatar-title rounded bg-primary"><img
                                    src="{% static 'learningcurveapp/img.png' %}"
                                    alt="logo"
                                    class="img-fluid"/></span>

                        </span>

                <span class="d-none d-lg-block">{{ username }}</span>
            </a>

            <!-- // END Navbar Brand -->

            <span class="d-none d-md-flex align-items-center mr-16pt">

                        <span class="avatar avatar-sm mr-12pt">

                            <span class="avatar-title rounded navbar-avatar"><i
                                    class="material-icons">opacity</i></span>
                        </span>

                        <small class="flex d-flex flex-column">
                            <strong class="navbar-text-100">Experiences</strong>
                            <span class="navbar-text-50">-1 points</span>
                        </small>
                    </span>

            <div class="flex"></div>
            <!-- Navbar Menu -->
            <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">
                <!-- Notifications dropdown -->
                <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full"
                     data-toggle="tooltip"
                     data-title="Messages"
                     data-placement="bottom"
                     data-boundary="window">
                    <button class="nav-link btn-flush dropdown-toggle"
                            type="button"
                            data-toggle="dropdown"
                            data-caret="false">
                        <i class="material-icons icon-24pt">mail_outline</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div data-perfect-scrollbar
                             class="position-relative">
                            <div class="dropdown-header"><strong>Messages</strong></div>
                            <div class="list-group list-group-flush mb-0">

                                <a href="javascript:void(0);"
                                   class="list-group-item list-group-item-action unread">
                                            <span class="d-flex align-items-center mb-1">
                                                <small class="text-black-50">5 minutes ago</small>
                                                <span class="ml-auto unread-indicator bg-accent"></span>
                                            </span>
                                    <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <img src="{% static 'learningcurveapp/img.png' %}"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </span>
                                                <span class="flex d-flex flex-column">
                                                    <strong class="text-black-100">{{ username }}</strong>
                                                    <span class="text-black-70">Nothing to worries!.</span>
                                                </span>
                                            </span>
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="javascript:void(0);">
                                            <span class="d-flex align-items-center mb-1">
                                                <small class="text-black-50">1000 years ago</small>

                                            </span>
                                    <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <img src="{% static 'learningcurveapp/img.png' %}"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </span>
                                                <span class="flex d-flex flex-column">
                                                    <strong class="text-black-100">{{ username }}</strong>
                                                    <span class="text-black-70">This is a smile :)</span>
                                                </span>
                                            </span>


                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // END Notifications dropdown -->

                <!-- // END Notifications dropdown -->

                <div class="nav-item dropdown">
                    <a href="/learningcurveapp/student-profile"
                       class="nav-link d-flex align-items-center dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">

                                <span class="avatar avatar-sm mr-8pt2">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <img src="{% static 'learningcurveapp/img.png' %}"
                                             alt="avatar_1"
                                             class="avatar-img rounded-circle">
                                    </span>

                                </span>

                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header"><strong>Menu for account here</strong></div>
                        <a class="dropdown-item"
                           href="#">Menu 1</a>
                        <a class="dropdown-item"
                           href="#">Menu 2</a>
                        <a class="dropdown-item"
                           href="#">Menu 3</a>
                        <a class="dropdown-item"
                           href="#">Menu 4</a>
                    </div>
                </div>
            </div>

            <!-- // END Navbar Menu -->

        </div>

        <!-- // END Navbar -->

        <!-- // END Header -->

        <!-- Page Content -->

        <div class="navbar navbar-light border-0 navbar-expand-sm"
             style="white-space: nowrap;">
            <h1 class="text-white flex m-0">Introduction to Machine Learning</h1>
        </div>
        <div class="bg-primary pb-lg-64pt py-32pt">
            <div class="container page__container">

                <div class="js-player bg-primary embed-responsive embed-responsive-16by9 mb-32pt">
                    <div class="player embed-responsive-item">
                        <div class="player__content">
                            <div class="player__image"
                                 style="--player-image: url(https://www.youtube.com/watch?v=aircAruvnKk&t=2s)"></div>
                            <a href=""
                               class="player__play bg-primary">
                                <span class="material-icons">play_arrow</span>
                            </a>
                        </div>
                        <div class="player__embed d-none">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/watch?v=aircAruvnKk&t=2s"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="navbar navbar-expand-sm navbar-dark border-bottom-2 navbar-list p-0 m-0 align-items-center">
            <div class="container page__container">
                <ul class="nav navbar-nav flex align-items-sm-center">
                    <li class="nav-item navbar-list__item">
                        <div class="media align-items-center">
                                    <span class="media-left mr-16pt">
                                        <img src="{% static 'learningcurveapp/img3.png' %}"
                                             width="40"
                                             alt="avatar"
                                             class="rounded-circle">
                                    </span>
                            <div class="media-body">
                                <a class="card-title m-0"
                                   href="teacher-profile.html">Another Linh</a>
                                <p class="text-50 lh-1 mb-0">Instructor</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item navbar-list__item">
                        <i class="material-icons text-muted icon--left">schedule</i>
                        2h 46m
                    </li>
                    <li class="nav-item navbar-list__item">
                        <i class="material-icons text-muted icon--left">assessment</i>
                        Beginner
                    </li>
                    <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
                        <div class="rating rating-24">
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star</i></div>
                            <div class="rating__item"><i class="material-icons">star_border</i></div>
                        </div>
                        <p class="lh-1 mb-0"><small class="text-muted">20 ratings</small></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-section  border-top-2 border-bottom-2">

            <div class="container page__container">
                <div class="row ">
                    <div class="col-md-7">

                        <p class="text-70">Introduction to Machine Learning is a comprehensive course designed for those
                            who are new to the field of Machine Learning and Artificial Intelligence. This course covers
                            the core concepts, techniques, and applications of Machine Learning, providing you with the
                            necessary skills and knowledge to further explore the world of AI.
                        </p>
                        <p class="text-70 mb-0">By the end of this course, you will have a solid understanding of the
                            foundational
                            principles of Machine Learning, be familiar with various ML techniques and algorithms, and
                            be able to apply this knowledge to real-world problems.</p>
                    </div>

                </div>
            </div>

        </div>


        <!-- // END Page Content -->

        <!-- Footer -->

        <div class=" border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-70 brand mb-24pt">
                    <a href="/learningcurveapp/aboutus"
                       class="text-70 text-underline small">About us</a>
                    <img class="brand-icon"
                         src="{% static 'learningcurveapp/images/Logo.svg' %}"
                         width="300"
                         alt="Learning Curve">
                </p>
                <p class="measure-lead-max text-50 small mr-8pt">Learning Curve is a platform that provides a variety of
                    courses for you to learn and improve your skills. We have a variety of courses for you to choose
                    from.</p>
                </p>
                <p class="mb-8pt d-flex">
                    <a href=""
                       class="text-70 text-underline mr-8pt small">Terms</a>
                    <a href=""
                       class="text-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved hehe.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>

    <!-- // END drawer-layout__content -->

    <!-- Drawer -->

    <div class="mdk-drawer js-mdk-drawer"
         id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-black-dodger-blue sidebar-left"
                 data-perfect-scrollbar>

                <!-- Sidebar Content -->

                <div class="d-flex align-items-center navbar-height">
                    <form action="#"
                          class="search-form search-form--black mx-16pt pr-0 pl-16pt">
                        <input type="text"
                               class="form-control pl-0"
                               placeholder="Search">
                        <button class="btn"
                                type="submit"><i class="material-icons">search</i></button>
                    </form>
                </div>

                <a href="/learningcurveapp/student-profile"
                   class="sidebar-brand ">
                    <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                                <span class="avatar-title rounded bg-primary"><img
                                        src="{% static 'learningcurveapp/img.png' %}"
                                        class="img-fluid"
                                        alt="logo"/></span>

                            </span>

                    <span>{{ username }}</span>
                </a>

                <div class="sidebar-heading">Student</div>
                <ul class="sidebar-menu">

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                            <span class="sidebar-menu-text">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                            <span class="sidebar-menu-text">Browse Courses</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">style</span>
                            <span class="sidebar-menu-text">Browse Paths</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                            <span class="sidebar-menu-text">Student Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-take-course">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">search</span>
                            <span class="sidebar-menu-text">My Courses</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">timeline</span>
                            <span class="sidebar-menu-text">My Paths</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-path">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">change_history</span>
                            <span class="sidebar-menu-text">Path Details</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">panorama_fish_eye</span>
                            <span class="sidebar-menu-text">Lesson Preview</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item  active">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-take-lesson">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">import_contacts</span>
                            <span class="sidebar-menu-text">Take Lesson</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-take-quiz">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                            <span class="sidebar-menu-text">Take Quiz</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">poll</span>
                            <span class="sidebar-menu-text">My Quizzes</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-quiz-results">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">live_help</span>
                            <span class="sidebar-menu-text">Quiz Result</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">layers</span>
                            <span class="sidebar-menu-text">Skill Assessment</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="#">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">assignment_turned_in</span>
                            <span class="sidebar-menu-text">Skill Result</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/logout">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">logout</span>
                            <span class="sidebar-menu-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="{% static 'learningcurveapp/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="https://cdn.jsdelivr.net/npm/material-design-kit@1.0.0/dist/material-design-kit.min.js"></script>

<!-- App JS -->
<script src="{% static 'learningcurveapp/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static 'learningcurveapp/js/preloader.js' %}"></script>


</body>

</html>