<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      class="dark-mode">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots"
          content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/css/perfect-scrollbar.min.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/preloader.css' %}"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/app.css' %}"
          rel="stylesheet">

    <!-- Dark Mode CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/dark.css' %}"
          rel="stylesheet">
</head>

<body class="layout-app ">
<div class="mdk-drawer-layout js-mdk-drawer-layout"
     data-push
     data-responsive-width="992px">
    <div class="mdk-drawer-layout__content page-content">

        <!-- Header -->

        <div class="navbar navbar-expand navbar-dark border-bottom-2"
             id="default-navbar"
             data-primary>

            <!-- Navbar toggler -->
            <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                    type="button"
                    data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>

            <!-- Navbar Brand -->
            <a href="index.html"
               class="navbar-brand mr-16pt d-lg-none">
                <!-- <img class="navbar-brand-icon" src="../../public/images/logo/white-100@2x.png" width="30" alt="Luma"> -->
                <span class="d-none d-lg-block">Luma</span>
            </a>

            <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
                <li class="nav-item">
                    <a href="index.html"
                       class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">Courses</a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">Paths</a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">Teachers</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/learningcurveapp/aboutus"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">About Us</a>
                </li>
                <li class="nav-item dropdown"
                    data-toggle="tooltip"
                    data-title="Community"
                    data-placement="bottom"
                    data-boundary="window">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">
                        <i class="material-icons">people_outline</i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto mr-0">
                <li class="nav-item active">
                    <a href="login.html"
                       class="nav-link"
                       data-toggle="tooltip"
                       data-title="Login"
                       data-placement="bottom"
                       data-boundary="window"><i class="material-icons">lock_open</i></a>
                </li>
                <li class="nav-item">
                    <a href="signup.html"
                       class="btn btn-outline-white">Get Started</a>
                </li>
            </ul>
        </div>

        <!-- // END Header -->

        <!-- BEFORE Page Content -->

        <!-- // END BEFORE Page Content -->

        <!-- Page Content -->

        <div class="py-32pt navbar-submenu">
            <div class="container page__container">
                <div class="progression-bar progression-bar--active-accent">
                    <a href="#"
                       class="progression-bar__item progression-bar__item--complete">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon">done</i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Pricing</span>
                                </span>
                    </a>
                    <a href="signup.html"
                       class="progression-bar__item progression-bar__item--complete progression-bar__item--active">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon"></i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Account details</span>
                                </span>
                    </a>
                    <a href="#"
                       class="progression-bar__item">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon"></i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Payment details</span>
                                </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-section container page__container">
            <div class="col-lg-10 p-0 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-24pt mb-md-0">
                        <form method="post" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label"
                                       for="name">Username</label>
                                <input id="name"
                                       type="text"
                                       class="form-control"
                                       name="username"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="email">Your email:</label>
                                <input id="email"
                                       type="email"
                                       class="form-control"
                                       name="email"
                                       placeholder="Your email address ...">
                            </div>
                            <div class="form-group mb-24pt">
                                <label class="form-label"
                                       for="password">Password:</label>
                                <input id="password"
                                       type="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="Your password ...">
                            </div>
                            <div class="form-group mb-24pt">
                                <div >Profile type:</div>
                                <input type="radio" id="student" name="profile_type" value="Student" checked>
                                <label for="student">Student</label>
                                <input type="radio" id="teacher" name="profile_type" value="Teacher">
                                <label for="teacher">Teacher</label><br>

                            </div>
                            <div class="form-group mb-24pt">
                                <input type="checkbox" id="agree" name="agree" value="agree"> Terms and conditions
                                <label for="agree"> By checking here and continuing, I agree to the
                                    Luma Terms of Use</label>

                            </div>
                            <button class="btn btn-primary">Create account</button>
                        </form>

                        <br>
                        <a href='/learningcurveapp/login'> <button  class="btn btn-primary">Login</button></a>

                    </div>
                    <div class="col-md-6">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h5>Purchase summary</h5>
                                <div class="d-flex mb-8pt">
                                    <div class="flex"><strong class="text-70">Subscription</strong></div>
                                    <strong>Student</strong>
                                </div>

                                <div class="alert alert-soft-warning">
                                    <div class="d-flex flex-wrap align-items-start">
                                        <div class="mr-8pt">
                                            <i class="material-icons">check</i>
                                        </div>
                                        <div class="flex"
                                             style="min-width: 180px">
                                            <small class="text-100">
                                                Access to over 1.000 high quality courses. <strong>For
                                                individuals.</strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex mb-16pt pb-16pt border-bottom">
                                    <div class="flex"><strong class="text-70">Price</strong></div>
                                    <strong> $9 per month</strong>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           checked
                                           id="topic-all">
                                    <label class="custom-control-label">Terms and conditions</label>
                                    <small class="form-text text-muted">By checking here and continuing, I agree to the
                                        Luma Terms of Use</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-separator justify-content-center m-0">
            <div class="page-separator__text">or sign-in with</div>
        </div>
        <div class="page-section text-center">
            <div class="container page__container">
                <a href="#"
                   class="btn btn-secondary btn-block-xs">Facebook</a>
                <a href="#"
                   class="btn btn-secondary btn-block-xs">Twitter</a>
                <a href="#"
                   class="btn btn-secondary btn-block-xs">Google+</a>
            </div>
        </div>

        <!-- // END Page Content -->

        <!-- Footer -->

        <div class=" border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-70 brand mb-24pt">
                    <img class="brand-icon"
                         src="{% static 'learningcurveapp/images/Logo.svg' %}"
                         width="300"
                         alt="Learning Curve">
                </p>
                <p class="measure-lead-max text-50 small mr-8pt">Learning Curve is a platform that provides a variety of
                    courses for you to learn and improve your skills. We have a variety of courses for you to choose
                    from.</p>
                </p>
                <p class="mb-8pt d-flex">
                    <a href=""
                       class="text-70 text-underline mr-8pt small">Terms</a>
                    <a href=""
                       class="text-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved hehe.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>

    <!-- // END drawer-layout__content -->

    <!-- Drawer -->


</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="{% static 'learningcurveapp/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="https://cdn.jsdelivr.net/npm/material-design-kit@1.0.0/dist/material-design-kit.min.js"></script>

<!-- App JS -->
<script src="{% static 'learningcurveapp/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static 'learningcurveapp/js/preloader.js' %}"></script>


</body>

</html>