<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      class="dark-mode">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Curve - Home Profile</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/css/perfect-scrollbar.min.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/preloader.css' %}"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/app.css' %}"
          rel="stylesheet">

    <!-- Dark Mode CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/dark.css' %}"
          rel="stylesheet">

</head>

<body class="layout-app ">
<div class="mdk-drawer-layout js-mdk-drawer-layout"
     data-push
     data-responsive-width="992px">
    <div class="mdk-drawer-layout__content page-content">

        <!-- Header -->

        <!-- Navbar -->
        <div class="navbar navbar-expand pr-0 navbar-dark border-bottom-2"
             id="default-navbar"
             data-primary>

            <!-- Navbar Toggler -->

            <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
                    type="button"
                    data-toggle="sidebar">
                <span class="material-icons">short_text</span>
            </button>

            <!-- // END Navbar Toggler -->

            <!-- Navbar Brand -->

            <a href="#"
               class="navbar-brand mr-16pt d-lg-none">

                        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                            <span class="avatar-title rounded bg-primary"><img src="{% static 'learningcurveapp/images/user_icon.jpg' %}"
                                                                               alt="logo"
                                                                               class="img-fluid"/></span>

                        </span>

                <span class="d-none d-lg-block">{{ username }}</span>
            </a>

            <!-- // END Navbar Brand -->


            <div class="flex"></div>
            <!-- Navbar Menu -->
            <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">
                <!-- Notifications dropdown -->
                <div class="nav-item dropdown dropdown-notifications dropdown-xs-down-full"
                     data-toggle="tooltip"
                     data-title="Messages"
                     data-placement="bottom"
                     data-boundary="window">

                    <div class="dropdown-menu dropdown-menu-right">
                        <div data-perfect-scrollbar
                             class="position-relative">
                            <div class="dropdown-header"><strong>Messages</strong></div>
                            <div class="list-group list-group-flush mb-0">

                                <a href="javascript:void(0);"
                                   class="list-group-item list-group-item-action unread">
                                            <span class="d-flex align-items-center mb-1">
                                                <small class="text-black-50">5 minutes ago</small>
                                                <span class="ml-auto unread-indicator bg-accent"></span>
                                            </span>
                                    <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <img src="{% static 'learningcurveapp/images/user_icon.jpg' %}"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </span>
                                                <span class="flex d-flex flex-column">
                                                    <strong class="text-black-100">{{ username }}</strong>
                                                    <span class="text-black-70">Nothing to worries!.</span>
                                                </span>
                                            </span>
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="javascript:void(0);">
                                            <span class="d-flex align-items-center mb-1">
                                                <small class="text-black-50">1000 years ago</small>

                                            </span>
                                    <span class="d-flex">
                                                <span class="avatar avatar-xs mr-2">
                                                    <img src="{% static 'learningcurveapp/images/user_icon.jpg' %}"
                                                         alt="people"
                                                         class="avatar-img rounded-circle">
                                                </span>
                                                <span class="flex d-flex flex-column">
                                                    <strong class="text-black-100">{{ username }}</strong>
                                                    <span class="text-black-70">This is a smile :)</span>
                                                </span>
                                            </span>


                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // END Notifications dropdown -->


                <!-- // END Notifications dropdown -->

                <div class="nav-item dropdown">
                    <a href="/learningcurveapp/edit-account-profile"
                       class="nav-link d-flex align-items-center dropdown-toggle"
                       data-toggle="dropdown"
                       data-caret="false">

                                <span class="avatar avatar-sm mr-8pt2">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <img src="{% static 'learningcurveapp/img.png' %}"
                                             alt="avatar_1"
                                             class="avatar-img rounded-circle">
                                    </span>

                                </span>

                    </a>

                </div>
            </div>
        </div>
        <!-- // END Navbar -->

        <!-- // END Header -->

        <!-- Page Content -->

        <div class="page-section border-bottom">
            <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                <img src="{% static 'learningcurveapp/img.png' %}"
                     width="104"
                     class="mr-md-32pt mb-32pt mb-md-0"
                     alt="student">
                <div class="flex mb-32pt mb-md-0">
                    <h2 class="text-white mb-0">{{ username }}</h2>
                    <p class="lead text-white-50 d-flex align-items-center">Student</p>
                </div>

            </div>
        </div>

        

        <div class="page-section">
            <div class="container page__container">

                <!-- Begin -->
                <div class="row card-group-row">

                    <div class="card-group-row__col col-md-6">
    
                        <div class="card card-group-row__card card-sm">
                            <div class="card-body d-flex align-items-left">
                                <div class="flex mr-12pt">
                                    <a class="card-title"
                                       href="student-showquiz.html">Read Chapters</a>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span class="lead text-headings lh-1">{{ read_chapters }}</span>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card-group-row__col col-md-6">
    
                        <div class="card card-group-row__card card-sm">
                            <div class="card-body d-flex align-items-left">
                                </a>
                                <div class="flex mr-12pt">
                                    <a class="card-title"
                                       href="student-showquiz.html">Answered Quiz</a>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span class="lead text-headings lh-1">{{ answered_quiz }}</span>
                                    <small class="text-50 text-uppercase text-headings"></small>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card-group-row__col col-md-6">
    
                        <div class="card card-group-row__card card-sm">
                            <div class="card-body d-flex align-items-left">
                                </a>
                                <div class="flex mr-12pt">
                                    <a class="card-title"
                                       href="student-showquiz.html">Average grade</a>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span class="lead text-headings lh-1">{{ average_grade }}</span>
                                    <small class="text-50 text-uppercase text-headings">/5</small>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card-group-row__col col-md-6">
    
                        <div class="card card-group-row__card card-sm">
                            <div class="card-body d-flex align-items-left">
                                <div class="flex mr-12pt">
                                    <a class="card-title"
                                       href="student-showquiz.html">Highest Grade</a>
                                </div>
                                <div class="d-flex flex-column align-items-center">
                                    <span class="lead text-headings lh-1">{{ max_grade }}</span>
                                    <small class="text-50 text-uppercase text-headings">{{ max_course }}</small>
                                </div>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <!-- End --> 



<!-- Begin -->





                <div class="card stack">
                    <div class="list-group list-group-flush">

                        <div class="list-group-item d-flex flex-column flex-sm-row align-items-sm-center px-12pt">
                            <div class="flex d-flex align-items-center mr-sm-16pt mb-8pt mb-sm-0">
                                <a href="instructor-edit-quiz.html"
                                class="avatar overlay overlay--primary avatar-4by3 mr-12pt">
                                    <img src="{% static 'learningcurveapp/images/paths/Machine-learning-def-.png' %}"
                                        alt="ML"
                                        class="avatar-img rounded">
                                    <span class="overlay__content"></span>
                                </a>
                                <div class="flex">
                                    <a class="card-title"
                                    href="{% url 'course'  id=course_to_continue.id role='student' %}">{{ course_to_continue.title }}</a>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center mr-16pt">
                                <span class="lead text-headings lh-1">{{ advancement }}</span>
                                <small class="text-50 text-uppercase text-headings">Completed Chapters</small>
                            </div>

                        </div>

                        

                        

                        

                    </div>
                </div>
<!-- End -->  



                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card border-0 mb-lg-0">
                            <div class="card-header d-flex align-items-center">
                                <div class="h2 mb-0 mr-3">879</div>
                                <div class="flex">
                                    <p class="card-title">Machine Learning</p>
                                    <p class="card-subtitle text-50">Best score</p>
                                </div>
                                <div class="dropdown">
                                    <a href="#"
                                       class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                       data-toggle="dropdown">Popular Topics</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href=""
                                           class="dropdown-item">Popular Topics</a>
                                        <a href=""
                                           class="dropdown-item">Machine Learning</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-24pt">
                                <div class="chart"
                                     style="height: 344px;">
                                    <canvas id="topicIqChart"
                                            class="chart-canvas js-update-chart-line"
                                            data-chart-hide-axes="true"
                                            data-chart-points="true"
                                            data-chart-suffix=" points"
                                            data-chart-line-border-color="primary"
                                            data-chart-dark-mode="true"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div id="carouselExampleFade"
                             class="carousel carousel-card slide mb-24pt">
                            <div class="carousel-inner">

                                <div class="carousel-item active">

                                    <a class="card border-0 mb-0"
                                       href="">
                                        <img src="{% static 'learningcurveapp/images/flinto.png' %}"
                                             alt="Flinto"
                                             class="card-img"
                                             style="max-height: 100%; width: initial;">
                                        <div class="fullbleed bg-primary"
                                             style="opacity: .5;"></div>
                                        <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                                                    <span class="row flex-nowrap">
                                                        <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                                                            <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">Achievement</span>
                                                            <span class="text-white-60 d-block mb-24pt">April 22, 2023</span>
                                                        </span>
                                                        <span class="col d-flex flex-column">
                                                            <span class="text-right flex mb-16pt">
                                                                <img src="{% static 'learningcurveapp/images/paths/flinto_40x40@2x.png' %}"
                                                                     width="64"
                                                                     alt="Flinto"
                                                                     class="rounded">
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="row flex-nowrap">
                                                        <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                                                            <img src="{% static 'learningcurveapp/images/illustration/achievement/128/white.png' %}"
                                                                 width="64"
                                                                 alt="achievement">
                                                        </span>
                                                        <span class="col d-flex flex-column">
                                                            <span>
                                                                <span class="card-title text-white mb-4pt d-block">{{ username }}</span>
                                                                <span class="text-white-60">Introduction to Machine Learning on Graph</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                    </a>

                                </div>

                                <div class="carousel-item">

                                    <a class="card border-0 mb-0"
                                       href="">
                                        <img src="{% static 'learningcurveapp/images/achievements/Machine Learning.png' %}"
                                             alt="Machine Learning fundamentals"
                                             class="card-img"
                                             style="max-height: 100%; width: initial;">
                                        <div class="fullbleed bg-primary"
                                             style="opacity: .5;"></div>
                                        <span class="card-body d-flex flex-column align-items-center justify-content-center fullbleed">
                                                    <span class="row flex-nowrap">
                                                        <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                                                            <span class="h5 text-white text-uppercase font-weight-normal m-0 d-block">Achievement</span>
                                                            <span class="text-white-60 d-block mb-24pt">Jun 5, 2018</span>
                                                        </span>
                                                        <span class="col d-flex flex-column">
                                                            <span class="text-right flex mb-16pt">
                                                                <img src="{ % static 'learningcurveapp/images/paths/Machine Learning_64x64.png' %}"
                                                                     width="64"
                                                                     alt="Machine Learning fundamentals"
                                                                     class="rounded">
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="row flex-nowrap">
                                                        <span class="col-auto text-center d-flex flex-column justify-content-center align-items-center">
                                                            <img src="{% static 'learningcurveapp/images/illustration/achievement/128/white.png' %}"
                                                                 width="64"
                                                                 alt="achievement">
                                                        </span>
                                                        <span class="col d-flex flex-column">
                                                            <span>
                                                                <span class="card-title text-white mb-4pt d-block">Machine Learning fundamentals</span>
                                                                <span class="text-white-60">Creating and Communicating Between Machine Learning Components</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                    </a>

                                </div>

                            </div>
                            <!-- <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
<span class="carousel-control-icon material-icons" aria-hidden="true">keyboard_arrow_left</span>
<span class="sr-only">Previous</span>
</a> -->
                            <a class="carousel-control-next"
                               href="#carouselExampleFade"
                               role="button"
                               data-slide="next">
                                        <span class="carousel-control-icon material-icons"
                                              aria-hidden="true">keyboard_arrow_right</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                        <div class="card border-0 mb-lg-0">
                            <div class="card-header d-flex align-items-center border-0">
                                <div class="h2 mb-0 mr-3">432</div>
                                <div class="flex">
                                    <p class="card-title">Experience IQ</p>
                                    <p class="card-subtitle text-50">4 days streak this week</p>
                                </div>
                                <i class="material-icons text-muted ml-2">trending_up</i>
                            </div>
                            <div class="card-body pt-0">
                                <div class="chart"
                                     style="height: 128px;">
                                    <canvas id="iqChart"
                                            class="chart-canvas js-update-chart-line"
                                            data-chart-hide-axes="false"
                                            data-chart-points="true"
                                            data-chart-suffix="pt"
                                            data-chart-line-border-color="primary"
                                            data-chart-dark-mode="true"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section  border-bottom-2">
            <div class="container page__container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>About me</h4>
                        <p class="text-70">As a passionate and dedicated data science enthusiast, I am
                            constantly driven to expand their knowledge and expertise in the field. With a strong
                            background in mathematics, statistics, and programming, I have cultivated an analytical
                            mindset that enables them to harness the power of data to make informed decisions and solve
                            complex problems. I am so good lying too!</p>
                    </div>
                    <div class="col-md-6">
                        <h4>Connect</h4>
                        <p class="text-70">I’m currently working as no one, I use my parent's money to live through
                            these days!</p>
                        <div class="d-flex align-items-center">

                            <a href=""
                               class="text-accent fab fa-facebook-square font-size-24pt mr-8pt"></a>
                            <a href=""
                               class="text-accent fab fa-twitter-square font-size-24pt mr-8pt"></a>
                            <a href=""
                               class="text-accent fab fa-instagram-square font-size-24pt"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- // END Page Content -->

        <!-- Footer -->

        <div class=" border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-70 brand mb-24pt">
                    <a href="/learningcurveapp/aboutus"
                       class="text-70 text-underline small">About us</a>
                    <img class="brand-icon"
                         src="{% static 'learningcurveapp/images/Logo.svg' %}"
                         width="300"
                         alt="Learning Curve">
                </p>
                <p class="measure-lead-max text-50 small mr-8pt">Learning Curve is a platform that provides a variety of
                    courses for you to learn and improve your skills. We have a variety of courses for you to choose
                    from.</p>
                </p>
                <p class="mb-8pt d-flex">
                    <a href=""
                       class="text-70 text-underline mr-8pt small">Terms</a>
                    <a href=""
                       class="text-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved hehe.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>

    <!-- // END drawer-layout__content -->

    <!-- Drawer -->

    <div class="mdk-drawer js-mdk-drawer"
         id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-black-dodger-blue sidebar-left"
                 data-perfect-scrollbar>


                <a href="#"
                   class="sidebar-brand ">
                    <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                                <span class="avatar-title rounded bg-primary"><img
                                        src="{% static 'learningcurveapp/img.png'%}"
                                        class="img-fluid"
                                        alt="logo"/></span>

                            </span>

                    <span>{{ username }}</span>
                </a>

                <div class="sidebar-heading">Student</div>
                <ul class="sidebar-menu">

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/profile">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                            <span class="sidebar-menu-text">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/private-courses/student">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                            <span class="sidebar-menu-text">Courses</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/quizzes/student">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                            <span class="sidebar-menu-text">Quiz</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/student-quiz-results/">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                            <span class="sidebar-menu-text">Quiz Results</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button"
                           href="/learningcurveapp/logout">
                            <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">logout</span>
                            <span class="sidebar-menu-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="{%static 'learningcurveapp/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="https://cdn.jsdelivr.net/npm/material-design-kit@1.0.0/dist/material-design-kit.min.js"></script>

<!-- App JS -->
<script src="{% static 'learningcurveapp/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static 'learningcurveapp/js/preloader.js' %}"></script>


</body>

</html>