<!DOCTYPE html>
<html lang="en"
      dir="ltr"
      class="dark-mode">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Path</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/css/perfect-scrollbar.min.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/preloader.css' %}"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/app.css' %}"
          rel="stylesheet">

    <!-- Dark Mode CSS -->
    <link type="text/css"
          href="{% static 'learningcurveapp/css/dark.css' %}"
          rel="stylesheet">

</head>

<body class="layout-app ">

<!-- Drawer Layout -->

<div class="mdk-drawer-layout js-mdk-drawer-layout"
     data-push
     data-responsive-width="992px">
    <div class="mdk-drawer-layout__content page-content">

        <!-- Header -->

        <!-- Navbar -->

        <div class="navbar navbar-expand pr-0 navbar-dark border-bottom-2"
             id="default-navbar"
             data-primary>

            <span class="d-none d-md-flex align-items-center mr-16pt">
                        <span class="avatar avatar-sm mr-12pt">
                           <a href="javascript:history.back()">
                            <span class="avatar-title rounded navbar-avatar"><i
                                    class="material-icons">keyboard_arrow_left</i></span></a>
                        </span>
            </span>
        </div>
        <!-- // END Navbar -->

        <!-- // END Header -->

        <!-- Page Content -->


        <div class="bg-primary pb-lg-64pt py-32pt">
            <div class="container page__container">
                    <h1 class="text-white flex m-0">New quizz</h1>
            </div>
        </div>



        <div class="container page__container">
            <div class="page-section">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}

                    <div id="questions-container"></div>

                    <button type="button" onclick="addQuestionForm()" class=" btn-primary">Ajouter une question</button>
                    <button type="button" onclick="removeQuestionForm()" class=" btn-primary">Retirer  la dernière question</button> <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Créer le quiz</button>
                </form>

                <script>
                    let questionCounter = 0;

                    function addQuestionForm() {
                        const container = document.querySelector('#questions-container');
                        const questionForm = `
                                  <div>
                                    <h3>Question ${questionCounter + 1}</h3>
                                    <input class="form-control" type="text" name="question_${questionCounter}-question" placeholder="Question" required><br><br>
                                    <input class="form-control" type="text" name="question_${questionCounter}-answer" placeholder="Réponse" required><br><br>
                                  </div>
                                `;
                        container.insertAdjacentHTML('beforeend', questionForm);
                        questionCounter++;
                    }

                    function removeQuestionForm(button) {
                        const questionContainer = document.querySelector('#questions-container');
                        questionContainer.lastElementChild.remove();
                        questionCounter--;
                    }
                </script>


            </div>
        </div>

        <!-- // END Page Content -->

        <!-- Footer -->

        <div class=" border-top-2 mt-auto">
            <div class="container page__container page-section d-flex flex-column">
                <p class="text-70 brand mb-24pt">
                    <a href="/learningcurveapp/aboutus"
                       class="text-70 text-underline small">About us</a>
                    <img class="brand-icon"
                         src="{% static 'learningcurveapp/images/Logo.svg' %}"
                         width="300"
                         alt="Learning Curve">
                </p>
                <p class="measure-lead-max text-50 small mr-8pt">Learning Curve is a platform that provides a variety of
                    courses for you to learn and improve your skills. We have a variety of courses for you to choose
                    from.</p>
                </p>
                <p class="mb-8pt d-flex">
                    <a href=""
                       class="text-70 text-underline mr-8pt small">Terms</a>
                    <a href=""
                       class="text-70 text-underline small">Privacy policy</a>
                </p>
                <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved hehe.</p>
            </div>
        </div>

        <!-- // END Footer -->

    </div>




</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.2/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="{% static 'learningcurveapp/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="https://cdn.jsdelivr.net/npm/material-design-kit@1.0.0/dist/material-design-kit.min.js"></script>

<!-- App JS -->
<script src="{% static 'learningcurveapp/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static 'learningcurveapp/js/preloader.js' %}"></script>


</body>

</html>